<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Goorm Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <!--담배기능 리스트 작업-->

          <li class="nav-item active">
            <a class="nav-link" href="/goorm/goormList">Goorm List
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/goorm/goormForm">Add Goorm
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/goorm/brandForm">Add Brand
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <!--담배기능 리스트 작업-->

          <!--로그인 기능 네브바-->
          
          <li class="nav-item active">
            <a class="nav-link" href="">Login
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="">Signup</a>
          </li>
          

          <li class="nav-item">
            <form id="logout" method="POST" action="" class="nav-link">
              <input type="submit" value="Logout">
            </form>
          </li>
          <!--로그인 기능 네브바 end-->

          

        </ul>
      </div>
    </div>
  </nav>